<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Template</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/slick.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media.css">
</head>
<body>
	
	<div class="container">
		<header>
			<div class="support">
				<img src="img/support.svg" alt="">
				<div class="support_t">
					Служба поддержка
					<span>71 123 45 67</span>
				</div>
				
			</div>
			<img src="img/logo.png" alt="" class="logo">	
			<div class="btns">
				<a href="#" class="cart">
					
					<div class="cart_t">
						Корзина
						<span>1 200 000 сум</span>
					</div>
					<img src="img/cart.svg" alt="">
				</a>
				<a href="#" class="fav">
					<img src="img/fav.svg" alt="">
				</a>
				<a href="#" class="user">
					<img src="img/user.svg" alt="">
				</a>
			</div>		
		</header>
	</div>
	<div class="container">
		<nav class="navbar">
			<button class="catb">
				<img src="img/menu.svg" alt="">
				Каталог
			</button>
			<ul>
				<li><a href="#">Помолвка и свадьба</a></li>
				<li><a href="#">ЮВЕЛИРНЫЕ ИЗДЕЛИЯ</a></li>
				<li><a href="#">КОЛЛЕКЦИИ</a></li>
				<li><a href="#">БРИЛЛИАНТЫ</a></li>
				<li><a href="#">ЧАСЫ</a></li>
				<li><a href="#">ПОДАРКИ</a></li>
			</ul>
			<button class="search">
				Поиск <img src="img/search.svg" alt="">
			</button>
		</nav>		
	</div>
	<div class="head" style="background-image: url(img/head.jpg);">
        <div class="head_caption">
            <h1>Помолвка и свадьба</h1>
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Помолвка и свадьба</a></li>
            </ul>
        </div>
    </div>
	
   <div class="products list">
      <div class="container">
         <div class="products_filtr">
             <div class="products_filtr-top">
                <div class="filtr_item">
                    Золото <a href="#">X</a>
                 </div>
                 <div class="filtr_item">
                    Золото <a href="#">X</a>
                 </div>
                 <div class="filtr_item">
                    Золото <a href="#">X</a>
                 </div>
                 <a href="#" class="filtr_clear">Сбросить все</a>
                 <div class="filtr_count">
                    Страница 1 и 4
                 </div>
             </div>
             <div class="products_filtr-bottom">
                 <div class="filtr_box dropdown">
                   <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Тип изделия
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Тип изделия</a>
                        <a class="dropdown-item" href="#">Тип изделия 2</a>
                        <a class="dropdown-item" href="#">Тип изделия 3</a>
                    </div>
                      
                 </div>
                 <div class="filtr_ord dropdown">
                   <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    По популярности
                    </a>
                    
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Тип изделия</a>
                        <a class="dropdown-item" href="#">Тип изделия 2</a>
                        <a class="dropdown-item" href="#">Тип изделия 3</a>
                    </div>
                      
                 </div>
             </div>

         </div>
			<div class="row">
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
				
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="subbox">
               <div class="sub">
                  <p>Подпишитесь на рассылку и получите
                  еще больше скидок от </p>
               <span>Suma-jewellery</span>   
               <form action="#">
                  <input type="text" placeholder="Имя">
                  <input type="text" placeholder="Email">
                  <button type="submit">Подписаться <img src="img/right_arrow.svg" alt=""></button>
               </form>
               </div>
               
            </div>
            <div class="padding_box">
               <div class="banner full" style="background-image: url(img/banner.jpg);">
                  <div class="banner_caption">
                     <div class="banner_stitle">Коллекция украшений</div>
                     <div class="banner_title">Искушение</div>
                     <p>Золотые украшения с драгоценными камнями обладают особым магнетизмом и шармом, которыми их наделила сама природа</p>
                     <a href="#">Подробнее <img src="img/right_arrow.svg" alt=""></a>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
            <div class="products_item">
               <div class="products_box">
                  <span class="saleinfo">10%</span>
                  <button class="products_box-fav"><img src="img/bfav.svg" alt=""></button>
                  <div class="products_box-img">
                     <img src="img/ring.jpg" alt="">
                  </div>
                  <button class="tocart">+</button>
                  <div class="products_box-info">
                     <div class="products_box-cat">Кольца</div>
                     <a href="#">Золотое кольцо SOKOLOV с фианитом</a>
                     <div class="products_box-price"><img src="img/money.svg" alt=""> 980 000 сум</div>
                  </div>
               </div>
            </div>
         </div> 
         <a href="#" class="bmore">Загрузить еще</a>
      </div>
   </div>
   <div class="quote">
      <div class="container">
         <div class="quote_title">Отзывы</div>
         <div class="quote_list">
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div>
            </div>
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div>
            </div>
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div> 
            </div>
            <div class="quote_item">
               <p>Провожу отпуск в Ташкенте,сегодня зашла в ваш магазин, приобрела серёжки, хочу выразить благодарность за отличную консультацию девушки продавца, к сожалению имя не запомнила. Спасибо за её внимательность и терпение, я очень долго не могла определиться с выбором!</p>
               <div class="quote_rate">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
                  <img src="img/star.svg" alt="">
               </div>
               <div class="quote_date">03 сентября 2020 </div>
               <div class="quote_who">Светлана Мошникова </div>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <div class="top">
         <div class="container">
            <div class="top_item">
               <span>ОБРАТНАЯ СВЯЗЬ</span>
               <ul>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
               </ul>
            </div>
            <div class="top_item">
               <span>ОБРАТНАЯ СВЯЗЬ</span>
               <ul>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
               </ul>
            </div>
            <div class="top_item">
               <span>ОБРАТНАЯ СВЯЗЬ</span>
               <ul>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
                  <li><a href="#">Вопросы и ответы </a></li>
               </ul>
            </div>
            <div class="top_item social">
               <span>МЫ В СОЦИАЛЬНЫХ СЕТЯХ</span>
               <a href="#"><img src="img/089-telegram.png" alt=""></a>
               <a href="#"><img src="img/024-facebook.png" alt=""></a>
               <a href="#"><img src="img/044-instagram.png" alt=""></a>
               <br>
               Бесплатный звонок
               <span class="phone">+998 71 123 45 67</span>
            </div>
            <div class="top_item">
               <span>СПОСОБЫ ОПЛАТЫ</span>
               <img src="img/humo 1.jpg" alt="">
               <img src="img/uzcard.jpg" alt="">
               <img src="img/visa.jpg" alt="">

            </div>
         </div>
      </div>
      <div class="bottom">
         <div class="container">
            <div class="copyright">
               © 2020. SUMA-JEWELLRY
            </div>
            <div class="author">
               Разработка сайтов Tuitsoft.uz
            </div>
         </div>
      </div>
   </footer>

	<script src="js/jquery.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>

</body>
</html>